.off-sidebar {
  background-color: #022d44;
  color: white;
}

.sidebar-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.sidebar-logo img{
    height: 200px;
}